h1 {
    text-align: center;
    font-size: 60px;
}
#mealForm {
    text-align: center;
    font-size: 18px;
}
body {
    background-color: #FFF2CC;
    /* font-family: "Charter"; */
}
#tab {
    float: right;
    border: 1px solid #FFF2CC;
    background-color: white;
    width: 22%;
    height: 4000px;
    text-align: center;
}
.space {
    margin: 9rem;
}
#recipes {
    text-align: center;
}
img {
    width: 32rem;
    height: 32rem;
}
#tab #list-button {
    visibility: hidden;
}
#divider {
    display: inline-block;
    text-align: center;
   width: 35rem;
   background-color: white;
   height: 38rem;
}
.cardback {
    width: 30rem;
    text-align: center;
    margin: auto;
}
#dividerSub {
    /* background-color: white; */
    width: 35rem;
    display: inline-block;
}
.dishLikesDiv {
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}


@media all and (max-width: 480px) {
    #tab {
        float: none;
        border: 1px solid #FFF2CC;
        background-color: white;
        width: 100%;
        height: 150px;
    }
    #tab #list-button {
        visibility: visible;
    }
    img {
        width: 19rem;
        height: 19rem;
    }
    #divider {
       width: 22rem;
       height: 25rem;
    }
    .cardback {
        width: 18rem;
    }
    #dividerSub {
        width: 20rem;
    }
}
